body {
    background-color: #333;
    color: #FFF 
}
header {
    background-color: #555;
}
.main {
    display: flex;
}
aside {
    width: 300px;
    background-color: #999;
}
.container {
    flex: 1;
}

@media (max-width: 610px) {
    .main {
        flex-direction: column;
    }
    aside {
        width: auto;
    }
}